.first
{
	position: absolute;
	background-color: /*#8ac6d1*/#77AF9C;
	left: 0px;
	right: 0px;
	top:1036px;	
	font-size: 35px;
	text-align: center;	
	padding-bottom: 50px;
}

.icons i
{
	margin: 40px 30px 0px 30px;
}
.copyright
{
	text-align: center;
	font-size: 16px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding-top: 20px;
	word-spacing: 4px;
	letter-spacing: 1.3px;
	color: white;
}
.agreement
{
	font-size: 17px;
	padding-top: 20px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	letter-spacing: 1px;
}
.agreement a
{
	text-decoration: none;
	color: white;
}